DATABASE_URL=postgresql+asyncpg://USER:PASSWORD@EP-ENDPOINT-POOLER.neon.tech/neondb?sslmode=require
SECRET_KEY=gere-uma-chave-forte-e-exclusiva
ACCESS_TOKEN_EXPIRE_MINUTES=60
APP_TIMEZONE=America/Sao_Paulo

APP_ENV=development
